# Ignorar datos pesados
data/
input/
output/
dataset_aumentado/
golden_corpus/
*.csv
*.pdf
*.zip

# Ignorar modelos entrenados
models/
kanish_brain_frozen/
trained_models/
*.pt
*.bin
*.safetensors

# Ignorar archivos de sistema y python
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.venv/
ipython/
temp_data/
